.school-info-container {
    width: 1250px;
    display: flex;
    justify-content: center;
    margin-top: 2.5%;


    .school-info__aside {
        margin-right: 1rem;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        height: 358px;

        .ant-card-body {
            height: 100%;
        }
    }
    .school-info--left {
        width: 220px;
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        .aside-menu {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        
        .back-btn {
            margin-bottom: 0;
        }

        button {
            width: 200px;
            margin-bottom: 1rem;
        }
    }
}
.school-info {
    width: 1000px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    .ant-card-body {
        display: flex;

        .ant-tabs {
            p {
                font-size: 1rem;
            }
            span {
                font-size: 1rem;
            }
        }

        .ant-tabs-tab-btn {
            font-size: 1rem;
        }

        .school-info--right {
            
            .info-container {
                padding-bottom: 1rem;
            }

            .info-upper {
                width: 900px;
                display: flex;
                justify-content: space-between;

                .info-text {
                    width: 100%;
                }

                h3 {
                    text-align: center;
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1rem;
                }
                

            }

            .info-img__container {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .info-img {
                width: 300px;
                height: 200px;
                background: #999;
                border-radius: 5px;
            }

            .vacant-numbers {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                border-bottom: 3px solid #e5e5e5;

                button {
                    width: 8rem;
                    height: 3rem;
                    margin: 0.5rem 0.5rem;
                    border-radius: 10px;
                    
                    span {
                        font-size: 1rem;
                        font-weight: 700;
                        color: #1890FF;
                        line-height: 2rem;
                    }
                }

                .ant-btn-primary {
                    span {
                        color: #fff;
                    }
                }

                .ant-btn:disabled {
                    span {
                        color: #999;
                    }
                }
            }

            .ant-card-body {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h4 {
                    text-align: center;
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1rem;
                }

                .apply-btn {
                    height: 60px;
                    width: 400px;
                    border-radius: 40px;
                    margin: auto;
    
                    span {
                        font-size: 1.25rem;
                        color: #fff;
                    }
                    
                }
            }
        }
    }
}



    
